<html lang="it">
<head>
    <meta charset="UTF-8">
    <title>Form_Ciclista_Ins</title>
    <link href="../static/Forms.css" rel=stylesheet type="text/css">
</head>
<body>
<h1>Inserire ciclista</h1>
<form name="nuovo_ciclista" action="inserimento_ciclista" method="get">
    <table class="form_table">
        <tr>
            <td>
                <label for="codC">Codice:</label> <br/>
                <input class="form_row" type="text" name="cod_ciclista" id="codC">
            </td>
        </tr>
        <tr>
            <td>
                <label for="nomeC">Nome:</label> <br/>
                <input class="form_row" type="text" name="nome_ciclista" id="nomeC"/>
            </td>
        </tr>
        <tr>
            <td>
                <label for="cognomeC">Cognome:</label> <br/>
                <input class="form_row" type="text" name="cognome_ciclista" id="cognomeC"/>
            </td>
        </tr>
        <tr>
        </tr>
        <tr>
            <td>
                <label for="nazionalitaC">Nazionalit&agrave:</label> <br/>
                <input class="form_row" type="text" name="nazionalita_ciclista" id="nazionalitaC">
            </td>
        </tr>
        <tr>
            <td>
                <label for="squadraC">Squadra:</label> <br/>
                <select class="form_row" name="squadra_ciclista" id="squadraC">
                    {% for squadra in squadre %}
                    <option value="{{ squadra['CodS'] }}">{{ squadra['CodS'] }}</option>
                    {% endfor %}
                </select>
            </td>
        </tr>
        <tr>
            <td>
                <label for="nazionalitaC">Anno di Nascita:</label> <br/>
                <input class="form_row" type="text" name="anno_nascita_ciclista" id="anno_nascitaC">
            </td>
        </tr>
    </table>
    <br/>
    <div style="text-align:center">
        <input class="form_submit_button" type="submit" value="Inserisci">
    </div>
</form>
</body>
</html>