<html lang="it">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <link href="../static/Forms.css" rel=stylesheet type="text/css">
</head>
<body>
<form name="home" action="campionato_ciclistico" method="GET">
    <table class="form_table">
        <tr>
            <td>
                <input class="form_row" type="submit" name="action" value="Inserimento ciclista">
            </td>
        </tr>
        <tr>
            <td>
                <input class="form_row" type="submit" name="action" value="Aggiornamento classifica">
            </td>
        </tr>
        <tr>
            <td>
                <input class="form_row" type="submit" name="action" value="Ricerca nel database">
            </td>
        </tr>
    </table>
</form>
</body>
</html>