.form_table{
    margin-left: auto;
    margin-right: auto;
    background: gainsboro;
}

.form_submit_button {
    background: #54AD45;
    color: white;
    border-style: outset;
    border-color: #54AD45;
    text-shadow: none;
    width: 400px;
    height: 30px;
}

.form_row{
    width: 400px;
    height: 30px;
}

h1{
    text-align: center;
}